.verifiable {
    color: #15FF81;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -1.2px;
    text-align: left;
}

.wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bigImage{
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: visible;
}

.smallImage{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    width: 100%;
}

.flex{
    display: flex;
    width: 100%;
}

.headerWrapper{
    z-index: 1;
    display: flex;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 128px;
    text-align: left;
    width: 66%;
    margin-top: 128px;
    margin-bottom: 128px;
    padding-left: 80px;
}

.heading {
    color: #B5F0E5;
    text-align: center;
    text-decoration-line: none !important;
    font-style: normal;
    font-weight: 300;
}

.description{
    color: #B5F0E5;

/* Body/Body L */
font-family: IBM Plex Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
width: 60%;
}

.descriptionStart{
    color: #B5F0E5;

/* Body/Body L */
font-family: IBM Plex Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
width: 100%;
padding-bottom: 20px;
}

.descriptionDev{
    color: #B5F0E5;
    text-align: center;

/* Body/Body L */
font-family: IBM Plex Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
width: 100%;
padding-bottom: 20px;
}

.searchWrapper{
    padding-top: 20px;
    padding-bottom: 30px;
    width: 60%;

}

.boxContainer{
    display: flex;
    width: 100%;
    align-items: center;
    grid-gap: 32px;
    padding: 32px;
    padding-bottom: 0px;
    flex-direction: row;
}

.startWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-left: 60px;
    padding-right: 60px;
}

.devWrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    padding-top:40px;
}

.productBox{
    border-radius: 20px;
border: 1px solid #FFFFFF40;
background: var(--green-12, rgba(27, 99, 82, 0.12));
display: flex;
padding: 40px;
flex-direction: column;
align-items: flex-start;
flex: 1 0 0;
}

.devBox{
    border-radius: 20px;
border: 1px solid #FFFFFF40;
background: var(--green-12, rgba(27, 99, 82, 0.12));
display: flex;
padding: 20px 30px;
flex-direction: row;
align-items: flex-start;
justify-content: sp;
gap: 15px;
}

.buttons{
    display: flex;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 48px;
border: 1px solid #15FF81;
text-transform: uppercase;
background: transparent;
color: #15FF81;
font-family: IBM Plex Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
letter-spacing: 0.7px;
text-transform: uppercase;
cursor: pointer;
margin-top: auto;
}

.buttons:hover{
    background-color: #15FF81;
    color: #042420;
    text-decoration: none !important;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px; /* Adjust the gap as needed */
  
    @media (max-width: 768px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

@media (max-width: 1024px) {
    .headerWrapper{
        width: 90%;

    }

}

@media (max-width: 768px) {
    .bigImage{
        visibility: hidden;
    }
    .smallImage{
        visibility: visible;
        transform: translateX(90px);
    }
    .headerWrapper{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        justify-content: start;
        padding-top: 0px;
        padding-bottom: 32px;
        padding-left: 0px;
        text-align: center;
    }
    .boxContainer{
        flex-direction: column;
        padding: 12px;
        padding-bottom: 0px;
    }
.description{
    width: 100%;
}
.searchWrapper{
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.startWrapper{
    gap: 16px;
    padding-left: 0px;
    padding-right: 0px;
}
.devWrapper{
    gap: 16px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
}
