.verifiable {
    color: #15FF81;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -1.2px;
    text-align: left;
}

.wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bigImage{
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: visible;
}

.smallImage{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    width: 100%;
}

.flex{
    display: flex;
    width: 100%;
}

.headerWrapper{
    z-index: 1;
    display: flex;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 128px;
    text-align: left;
    width: 66%;
    margin-top: 128px;
    margin-bottom: 128px;
    padding-left: 80px;
}

.heading {
    color: #B5F0E5;
    text-align: center;
    text-decoration-line: none !important;
    font-style: normal;
    font-weight: 300;
}

.description{
    color: #B5F0E5;

/* Body/Body L */
font-family: IBM Plex Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
width: 60%;
}

.descriptionStart{
    color: #B5F0E5;

/* Body/Body L */
font-family: IBM Plex Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
width: 100%;
padding-bottom: 20px;
}

.descriptionDev{
    color: #B5F0E5;
    text-align: center;

/* Body/Body L */
font-family: IBM Plex Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
width: 100%;
padding-bottom: 20px;
}

.searchWrapper{
    padding-top: 20px;
    padding-bottom: 30px;
    width: 60%;

}

.boxContainer{
    display: flex;
    width: 100%;
    align-items: center;
    grid-gap: 32px;
    padding: 32px;
    padding-bottom: 0px;
    flex-direction: row;
}

.startWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-left: 60px;
    padding-right: 60px;
}

.devWrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    padding-top:40px;
    padding-bottom: 70px;
}

.helpWrapper{
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    padding-top:40px;
    padding-bottom:40px;
    background: rgba(27, 99, 82, 0.12);
}

.boxWrap{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    gap: 32px;
}

.imgHelp{
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateX(-100%);
}

.socialWrapper{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    width: 100%;
    gap: 32px;
}

.socialBox{
    height: 100%;
    display: flex;
    padding: 36px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    border-radius: 20px;
    border: 1px solid #FFFFFF40;
    background:rgba(0, 0, 0, 0.12);
}

.socialBox:hover {
    border: 1px solid #FFFFFF80;
}

.smallText{
    color: rgba(181, 240, 229, 0.50);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
}


.productBox{
    border-radius: 20px;
border: 1px solid #FFFFFF40;
background: var(--green-12, rgba(27, 99, 82, 0.12));
display: flex;
padding: 40px;
flex-direction: column;
align-items: flex-start;
flex: 1 0 0;
}

.devBox{
    border-radius: 20px;
border: 1px solid #FFFFFF40;
background: var(--green-12, rgba(27, 99, 82, 0.12));
display: flex;
padding: 20px 30px;
flex-direction: row;
align-items: flex-start;
justify-content: sp;
gap: 15px;
}

.devBox:hover{
    border: 1px solid #FFFFFF80;
}

.buttons{
    display: flex;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 48px;
border: 1px solid #15FF81;
text-transform: uppercase;
background: transparent;
color: #15FF81;
font-family: IBM Plex Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
letter-spacing: 0.7px;
text-transform: uppercase;
cursor: pointer;
margin-top: auto;
}

.buttons:hover{
    background-color: #15FF81;
    color: #042420;
    text-decoration: none !important;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px; /* Adjust the gap as needed */
  
    @media (max-width: 768px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

.helpBox{
    border-radius: 20px;
border: 1px solid #FFFFFF40;
background: rgba(0, 0, 0, 0.12);
display: flex;
flex-direction: row;
padding: 36px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;

}

.input {
    width: 100%;
    background-color: transparent;
    text-transform: uppercase;
    padding-bottom: 6px;
    color: #15FF81;
    border: none;
    border-bottom: 0.5px solid rgba(181, 240, 229, 0.50);
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: rgba(181, 240, 229, 0.50);
}
.checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    width: fit-content;
}


/* Hide the default checkbox */

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Style the custom checkbox */

.checkmark {
    position: absolute;
    top: 15px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border-radius: 0px;
    border: 1px solid rgba(181, 240, 229, 0.50);
}


/* On mouse-over, add a background color */

.checkbox:hover input~.checkmark {
    background-color: rgba(181, 240, 229, 0.50);
}


/* When the checkbox is checked, add a blue background */

.checkbox input:checked~.checkmark {
    background-color: rgba(181, 240, 229, 0.50);
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}


/* Show the checkmark when the checkbox is checked */

.checkbox input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark as a tick */

.checkbox .checkmark:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 12px;
    border: solid #042420;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.emailButton{
    margin-left: auto;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid #B5F0E580;
    background: transparent;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 7px;
    padding-right: 7px;
    color: #B5F0E580;
}

.emailButton:hover{
    background: #B5F0E580;
    color: #042420;
}

.bigScreen {
    max-width: 1700px;
    padding-bottom: 48px; 
    padding-top: 54px; 
    margin: 0 auto; 
    padding-left: 12px; 
    padding-right: 12px; 
  
    @media (min-width: 1536px) {
      padding-left: 0; 
      max-width: 100%;
    }
  
    @media (min-width: 768px) {
      padding-left: 2.5rem; 
      padding-right: 2.5rem;
    }
  }

.imgFooter{
    height: 40px;
    width: "auto";
}

.footerDescription {
    width: 100%;
    padding-top: 1.25rem; 
    color: #B5F0E5; 

    @media (min-width: 640px) {
      width: 83.333333%; 
    }
  
    @media (min-width: 768px) {
      width: 58.333333%; 
    }
  
    @media (min-width: 1024px) {
      width: 100%;
    }
  }

  .gridFooter {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem; 
  
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr); 
    }
  
    @media (min-width: 1024px) {
      grid-template-columns: repeat(10, 1fr); 
    }
  }

  .navFooter {
    grid-column: 3 span;
  
    @media (min-width: 768px) {
        grid-column: 1 span;
    }
  
    @media (min-width: 1024px) {
        grid-column: 2 span;
    }
  }

  .copyright {
    margin-top: 1rem;
    padding-top: 0.75rem;
    text-align: left;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #B5F0E5;
    opacity: 0.5;
  
    @media (min-width: 768px) {
      margin-top: 2.5rem; 
      padding-top: 2.5rem; 
    }
  }

@media (max-width: 1024px) {
    .headerWrapper{
        width: 90%;

    }

}

@media (max-width: 768px) {
    .bigImage{
        visibility: hidden;
    }
    .smallImage{
        visibility: visible;
        transform: translateX(90px);
    }
    .headerWrapper{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        justify-content: start;
        padding-top: 0px;
        padding-bottom: 32px;
        padding-left: 0px;
        text-align: center;
    }
    .boxContainer{
        flex-direction: column;
        padding: 12px;
        padding-bottom: 0px;
    }
.description{
    width: 100%;
}
.searchWrapper{
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.startWrapper{
    gap: 16px;
    padding-left: 0px;
    padding-right: 0px;
}
.devWrapper{
    gap: 16px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.helpBox{
    flex-direction: column;
    width: 100%;

}
.helpWrapper{
    flex-direction: column;
    width: 100%;
}
.boxWrap{
    margin-left: unset;
    gap: 15px;
}
.imgHelp{
    visibility: hidden;
}
.socialWrapper{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
}
.socialBox{
    padding: 24px;
}
.imgFooter{
    height: 32px;
}
}
